
    body, html {
        background: url("../images/spookygraveyard.jpg") center no-repeat;
        left: 0px;
        top: 0px;
        height: 98%;
        width: 99%;
        position: absolute;
        background-color: black;
        
        

    }

    #zombie {
        display: block;
        left: 47%;
        position: relative;
        top: 350px;
        
    
    }

    img{

        width : 200px;
        height: 200px;
    }
  

    #score{
       
        text-align: center;
        color: red;
        font-size: 75px;
        
    }
 
    #final_score{
        text-align: center;
        top: 250px;
        font-size: 100px;
        color: red;
        
    }

   #quit{
        position: absolute;
        bottom: 0px;
        left: 47%;
        text-align: center;
   
    }

    #restart{
        position: absolute;
        bottom: 0px;
        right: 0px;
        
    }

